<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include "views/public/css.html" ?>
</head>
<body>
     
   <!-- 侧边栏 -->
   <?php include "views/public/aside.html" ?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include "views/public/header.html" ?>
            <!-- 个人资料 -->
            <div class="body teacher-profile">
                <div class="profile">
                    <div class="row survey">
                        <div class="col-xs-3">
                            <div class="cell money">
                                <i class="fa fa-money"></i>
                                <span>我的收入</span>
                                <h5>￥11.11</h5>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="cell th">
                                <i class="fa fa-th"></i>
                                <span>课程数量</span>
                                <h5>12</h5>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="cell user">
                                <i class="fa fa-user"></i>
                                <span>用户数量</span>
                                <h5>236</h5>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="cell eye">
                                <i class="fa fa-eye"></i>
                                <span>浏览量</span>
                                <h5>22435</h5>
                            </div>
                        </div>
                    </div>
                    <div class="chart">
                        <div id="main" style="width: 600px;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <?php include "views/public/js.html" ?>
    <script>
        $(function () {
            //判断用户是否登录了,如果没有登录,就给他跳回登录页
            //判断用户是否登录的依据,最好是通过向后台发送请求,问后台用户是否登录,
            //这才是最严谨的判断登录的方式,当前项目没有提供接口,所以不能这么做
            
            //我们就使用PHPSESSID来作为判断用户是否登录的依据即可
            //如果在cookie中有PHPSESSID,那就证明已经登录了,
            //如果在cookie中没有PHPSESSID,,就证明没有登录
            if(!$.cookie(PHPSESSID)){
                location.herf = "dashboard/login    "
            }

            //1.从cookie中获取用户存储好的用户信息
            var userinfo = JSON.parse($.cookie("userinfo"));
            console.log(userinfo);
            //2.使用末班引擎将对象渲染到用户信息的模板中去
            var html = template("profile_tpl",userinfo);
            $("#profile").html(html);
        })
    </script>
</body>
</html>